<div class="app-example-page">
  <govuk-accordion
    class="govuk-accordion"
    id="accordion-default"
    [id]="'writing'"
  >
    @for (item of testContent; track item.id) {
      <govuk-accordion-section
        id="{{ item.id }}"
        heading="{{ item.heading }}"
        summary="{{ item.summary }}"
      >
        <p>
          {{ item.content }}
        </p>
      </govuk-accordion-section>
    }
  </govuk-accordion>
</div>

<!--The linter seems not to recogise the new template syntax here-->
